<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netflow Collector Man Page</title>
</head>
<body>
<h2>How to use</h2>
 <p style = "font-family: sans-serif; font-size: 1.2em;">
Синтаксис запроса: <i>http://pmacctz23s2.noc.o3.ru?site=*имя сайта*</i><br /><br />
Например, для отображения информации о Top Talkers площадки Анненский используйте вызов:
<i><a href="http://pmacctz23s2.noc.o3.ru?site=Z03">http://pmacctz23s2.noc.o3.ru?site=Z03</a></i>
</p>
<p>
    <i><a href="http://pmacctz23s2.noc.o3.ru/report">Создать отчет за определенный временной интервал</a></i>
</p>
</body>
</html>